#logo {
	display: block;
	text-align: center;
	padding-top: 200px;
}

#search-bar {
	display: block;
	text-align: center;
}

#nav-top-left {
	float: left;
}

#nav-top-right {
	float: right;
}

.button:hover {
	background-color: green;
	box-shadow:;
	border:;
	color:;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: grey;
}

#nav-bottom-left {
	float: left;
} 

#nav-bottom-right {
	float: right;
}